$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-orange: rgb(255, 115, 0);
$color-orange2: #ff7f50;
$color-salmon2: rgb(255, 213, 177);
$color-grey: rgb(143, 143, 143);

$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;