@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: "oswald";
    src: url(../Oswald-VariableFont_wght.ttf);
    font-weight: 400;
}
