@import "../../../sass/base.scss";

body {
    margin-left: 18rem;
    margin-right: 18rem;
    background-image: url(./img/upPart.jpg), url(./img/mainPart.jpg), url(./img/mainPart.jpg), url(./img/dowPart.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 70%, 70%, 70%, 69%;
    background-position: center 0%, center 12%, center 85%, center 95%;
    background-attachment: scroll;
}

header {
    z-index: 10;
    height: 8rem;
    margin-top: 2rem;

    h1 {
        font-size: 5rem;
        text-align: center;
        color: aliceblue;
        margin-top: 10rem;
    }

    h2 {
        font-size: 4rem;
        text-align: center;
        margin-top: -1rem;
    }
}

main {
    z-index: 1;

    .ingredients {
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 3rem;

        li {
            padding-top: 0.4rem;
        }
    }

    h3 {
        font-size: 1.8rem;
        color: rgb(121, 0, 0);
        margin-top: 3rem;
        font-weight: 600;
        margin-left: 3rem;
    }

    .chocolate {
        z-index: 0;
        position: absolute;
        top: 17rem;
        right: 8rem;

    }

    .preparation {
        font-size: 1.6rem;
        font-weight: 700;
        margin-left: 3rem;
        margin-right: 2rem;

        li {
            padding-bottom: 2.6rem;
        }
    }
}

footer {
    z-index: 10;
    display: flex;
    justify-content: space-between;

    .dulce {
        position: absolute;
        bottom: -45rem;
        width: 20rem;
        height: 20rem;
        right: 10rem;
        z-index: 0;
    }

    .chocolateDulce {
        color: aliceblue;
        font-size: 1.5rem;

    }

    .cristinaTitle {
        color: aliceblue;
        font-size: 1.5rem;
        z-index: 10;
        bottom: -10rem;
        left: -1rem;
        position: absolute;
    }
}
