$light-gray: rgba(214, 209, 200, 0.849);
$dark-gray: rgba(109, 109, 109, 0.849);
$brown-red: #680747;
$light-pink: rgba(255, 192, 203, 0.612);
$middle-pink: rgba(252, 147, 165, 0.863);
$dark-pink: rgba(175, 39, 61, 0.929);
$white:  white;
$aqua: aqua;
$beige: bisque;
$light-blue: rgba(0, 225, 255, 0.43);
$border-color: rgba(37, 34, 34, 0.718);


$buttons: ac, minus, sum, multiply, one, two, three, divide, four, five, six, module, seven, eight, nine, back, dot, zero, equal;
