@import "./base.scss";


/* UTILIDADES */
.span {
  font-weight: bold;
}

/* CALCULADORA */
.cont-calculator {
  background-color: $bg-color;
  width: 80%;
  height: 75%;
  border-radius: 6rem;
  display: grid;
  grid-template-rows: 25% 75%;
}


/* SCREEN */
.screen {
  background-color: $screen-color;
  width: 90%;
  height: 55%;
  margin: 0 auto;
  margin-top: 4%;
  border-radius: 5rem;
  font-size: 6rem;
  display: flex;
  padding: 3rem;
  align-items: center;
  justify-content: right;
  color: rgb(110 12 12 / 95%);
  word-break: break-all; //para que no se expanda la calculadora hacia los lados
}


/* BUTTONS */
.cont-buttons {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  margin: 2rem 4rem;
  .button {
    flex: 0 1 25%;
    background-color: $button-color;
    font-size: 2rem;
    color: $text-color;
    border: $border-color solid thin ;
    cursor: pointer;
  }
  .button:hover {
    background-color: $hover-color;
  }
  .button:active {
    background-color: $active-color;
  }
  .op {
    font-size: 2.5rem;
  }
  .imp {
    background-color: $important-button-color;
    .imp:active {
      background-color: $active-color;
    }
  }

  
}

//todo: 




