:root{

    /*Variables Golabales*/
    --green_1: rgb(255, 255, 255);
}



body {
    background-color: var(--green_1);
    /* Centrar verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Añade posicionamiento relativo para que los pseudo-elementos sean posicionados correctamente */

}

/* Crea un pseudo-elemento ::before para la imagen de fondo */
body::before {
    content: "";
    background-image: url('https://thumbs.dreamstime.com/b/green-checkered-background-wide-narrow-diagonal-lines-geometric-pattern-checkered-texture-watercolor-texture-checkered-158405552.jpg');
    opacity: 0.4; /* Ajusta el valor de opacidad según tus preferencias (0.0 a 1.0) */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido principal */
}






main{
    background-color: var(--green_1);
    /*width:600px;
    height: 80px; */


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    

    width: 1200px;
    height: 1500px;
    clip-path: polygon(94.62% 8.25%, 0% 0%, 0% 79.07%, 19.84% 79.17%, 47.5% 79.31%, 94.62% 79.55%);
    /* clip-path: inset(0 0 0 0 round 10%); */
    position: relative;



}

.begin{
    margin-top: 40px;
}

.header {
    position: relative; 
    left: -400px; 
    z-index: 1;
}
