@import '../../sass/index.scss';

html {
    font-size: 62.5%;
}


body {
    width: 100vw;
    height: 100vw;
    color: $brown-red;
    background-color: $light-pink;
    background-image: radial-gradient(circle, $middle-pink 1px, transparent 70%);
    background-size: 3rem 3rem;

    #display-block {
        display: flex;
        justify-content: center;


        #info-beige-background {
            width:65%;
            height: 80vw;
            position: absolute;
            z-index: -1;
            background-color: $light-gray;
            border-radius: 3rem;
            margin-right: 6rem;
            margin-top: 17rem;
        }

        .info-cooking-recipe{
            width: 70vw;
            height: 70vw;
            justify-content: center;
            position: relative;


            header {
                width:100%;
                margin-top: 10rem;

                .parte-arriba {
                    display: flex;
                    align-items: center;

                    img {
                        width:30rem;
                        height: 12rem;
                        border-radius: 20px;
                        margin: 3rem;
                    }

                    div {
                        width: 70%;
                        position: relative;
                        top: 3.5rem;

                        .cursive-title {
                            font-family: satisfy;
                            font-size: 7rem;
                            position: relative;
                            margin-left: 10rem;

                        }

                        h1 {
                            text-transform: uppercase;
                            font-size: 8rem;
                            font-weight: 700;
                            font-family: sans-serif;
                            margin-left: 15rem;
                        }
                    }
                }


                > h2 {
                    background-color: $dark-pink;
                    align-self: flex-end;
                    line-height: 7rem;
                    padding-left: 3rem;
                    color: $white;
                    font-size: 5.5rem;
                    font-family: satisfy;
                    font-weight: 1300;
                    width: 70%;
                    height: 4rem;
                    border-top-right-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    -webkit-text-stroke: .7px $dark-pink;

                }
            }

            main.blocks-controller {
                width: 60vw;
                display: flex;
                justify-content: space-around;
                margin-top: 3rem;
                margin-left: 3rem;


                aside {
                    width: 30%;
                    top:2rem;

                    article {
                        font-family: oswald;
                        height: 15rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin: 1rem;


                        h3 {
                            font-size: 2.2rem;
                        }
                        > ul {
                            font-size: 1.5rem;

                           > li{
                                margin: 0.5rem;
                            }
                        }
                    }

                    .steps-icons {
                        font-size: 1.5rem;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        margin-bottom: 0.5rem;
                        span {
                            position: relative;
                            bottom: 0.3rem;
                        }
                        i {
                            font-size: 2.5rem;
                        }
                    }
                    .steps-images {
                        display: flex;
                        flex-direction: column;

                        .process-images {
                            width: 300px;
                            height: 200px;
                            margin: 5px 0px;
                            border-radius: 2rem;
                        }
                    }
                }

                section {
                    width: 50%;

                    img{
                        border-radius: 2rem;
                    }

                    h3 {
                        font-size: 2rem;
                        font-family: oswald;
                        padding-top: 2rem;
                    }
                    li {
                        font-family: oswald;
                        font-weight: 400;
                        font-size: 1.5rem;
                        margin: 3.5rem 0;
                    }
                }
            }

            footer {
                width: 80%;
                display: flex;
                justify-content: space-between;


                #follow-information {
                    font-size: 1.6rem;
                    width: 10%;
                    position: relative;
                    top: 5rem;
                    left: 7rem;
                    margin-top: 3rem;

                    div {
                        display: flex;

                        i{
                            margin: 0.5rem;
                            font-size: 3rem;
                        }

                        a {
                            font-size: 30px;
                            margin: 2rem 12rem;
                        }
                    }
                }

                .tips {
                    width: 80%;
                    position: relative;
                    bottom: 17rem;

                    .footer-title {
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        left: 10rem;
                        bottom: 5rem;


                        .tips-title {
                            text-align: center;
                            font-size: 6rem;
                            width: 17rem;
                            height: 7rem;
                            padding: 1rem;
                            color: $white;
                            background-color: $brown-red;
                            margin: 2rem;
                            border-radius: 2rem;
                        }

                        .little-chef {
                            width: 30rem;
                            height: 30rem;
                        }
                    }

                    p {
                        position: relative;
                        font-size: 1.5rem;
                        z-index: -1;
                        width: 70%;
                        background-color: $light-gray;
                        padding-top: 1rem;
                        padding-bottom: 5rem;
                        padding-right: 30rem;
                        padding-left: 2rem;
                        border-radius: 3rem;
                        bottom: 10rem;
                    }
                }
            }
        }
    }
}
