$primary-color: rgb(0, 0, 0);
$background-color: #e7eff1;
$text-color: #333;
$container-bg-color: #dfe6e9;
$card-bg-color: #ffffff;
$button-bg-color: rgb(0, 0, 0);
$button-hover-color: #ecf0f1;
$button-active-color: #333;