@import '../../sass/base.scss';

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 1rem;

  @each $button in $buttons {
    grid-area: $button;
  }

}