$color-ligth-blue: #7d7ddb;
$color-ligth-blue: rgb(7, 7, 70);
$color-navy-blue: #326479;
$color-beige:#dedeb4;
$primary-color: #3498db;
$button-background: red;
$button-text: gold;
$button-border: black;
