body{
    background-image: url(./img/fondo-receta-2.jpg);
    background-size: cover;
}
img {
    width: 100px;
}
h1{
    font-size: 100px;
}
img.img-varias {
    width: 100px;
}
img.recipe-property{
    width: 20px;
}
