body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, $cafe, $cafe-claro);
    margin: 0;
    padding: 0;
}

header {
    background: $cafe;
    color: $blanco;
    text-align: center;
    padding: 1rem;
    box-shadow: $degradado-negro;
}