$light-gray: rgba(214, 209, 200, 0.849);
$brown-red: #680747;
$light-pink: rgba(255, 192, 203, 0.612);
$middle-pink: rgba(252, 147, 165, 0.863);
$dark-pink: rgba(175, 39, 61, 0.929);
$white:  white;
$aqua: aqua;
$beige: bisque;
