@import '../../../sass/variables';

body {
  margin: 0;
  background-color: $background-color;
  color: $text-color;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  min-width: 100vw;
  background-color: $background-color;
  transition: background-color 0.5s;
}

header {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  padding: 20px;
  min-width: 97vw;
  align-items: center;
}

header button {
  background-color: $button-bg-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 3rem;
  box-shadow: 0 0 1rem rgb(255, 255, 255);
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: $button-hover-color;
    transform: scale(1.05);
  }

  &:active {
    background-color: $button-active-color;
    transform: scale(0.95);
    color: #ffff
    ;
  }
}


h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $container-bg-color;
  margin-top: 20px;
  width: 60vw;
  height: 80vh;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: $primary-color;
  padding: 20px;
  min-width: 100vw;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

.scoreboard {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: 7rem;
  width: 11rem;
  background-color: $container-bg-color;
  margin-top: 20px;
  margin-left: 3rem;
  align-items: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
}

