@import '../ ../ ../';



body {
    background-color: #3d341e; /* Fondo color café claro */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el contenedor de la imagen */
.contenedor-imagen {
    position: relative;
    text-align: center;
}

/* Estilos para la imagen de fondo */
.contenedor-imagen img {
    width: 115%; /* La imagen ocupará todo el ancho del contenedor */
}

/* Estilos para la superposición */
.superposicion {
    position: absolute;
    top: 53%;
    left: 36%;
    transform: translate(-50%, -50%);
    background-color: hsla(170, 170%, 0.5);
    color: white;
    padding: 20px;
    -webkit-text-stroke: 2px black; /* Borde blanco de 2px alrededor del texto */
   
}

/* Estilos para los encabezados */
.superposicion h1 {
    font-size: 60px;
    color: azure;
}

.superposicion h2 {
    font-size: 53px;
    color: #804008;
}

/* Estilos para las secciones de ingredientes y relleno */
.ingredientes, .relleno {
    text-align: left;
    margin: 20px;
}

.ingredientes h3, .relleno h3 {
    font-size: 20px;
    color: hwb(61 0% 0%);
    text-align: left;
}

/* Estilos para las listas de ingredientes y relleno */
ul {
    
    padding-left: 0px;
}

/* Estilos para el párrafo de preparación */
.superposicion p {
    font-size: 14px;
    color:black;
    text-align: right;
}

/* Estilos para los elementos footer */
footer {
    display: flex; /* Utilizar el modelo de caja flexible */
    justify-content: left; /* Centrar el contenido horizontalmente */
    background-color: hsla(120, 120%, 0.5); /* Fondo semi-transparente
    color: white; /* Color del texto */
    padding: 3px; /* Espacio interno */
}

/* Estilos para las imágenes dentro de los elementos footer */
footer img {
    max-width: 1130px; /* Tamaño máximo de la imagen */
    height: 40; /* Ajustar la altura automáticamente */
    margin: 3.5px; /* Espacio alrededor de la imagen */
}

.tipos > h2 {
    color: brown;
    font-family: 'MPLUS1p',Arial, Helvetica, sans-serif;
    font-size: 5rem;
    font-weight: 900;
}