:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(110 12 12 / 95%);
  background: linear-gradient(to top, #f3caff, #c4e4fd);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

span {
  text-align: right;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff748e;
  }
  button {
    background-color: #f9cbcb;;
  }
}

/* todo: agregar variables globales a scss, crear variables de colores */
/* bueno hermosuritasss, me boiii, les deseo demasiados exitos en sus planes y todo lo que esten haciendo, fue un absoluto placer haberlos conocido, rumbeen mucho y les mando un abrazo gigante a todos. los espero en Medellin, aiosssss */
