
@import './variables.scss';

div {
    width: 200px;
    height: 300px;
    color: white;
    font-size: 3rem;
    text-align: center;
    vertical-align: baseline;
}

.blue-box {
    position:absolute;
    background-color: $color-blue;
    z-index:$z-index-out; 
    top: 15rem;
    left: 6rem;
}


.green-box{
    background-color:$color-green;
    z-index:$z-index-father;
    top: 3rem;
    left: 3rem;
    position: relative;
    width: 500px; 
    height:500px;
    > div {
        position: absolute;
    }
    .yellow-box {
        background-color:$color-yellow;
        position: absolute;
        z-index: $z-index-1;
        top: 0; 
        right:0;
    }
    .red-box {
      background-color:$color-red;
      position: absolute;
      z-index: $z-index-2;
      bottom: 1rem;
      left: 1rem;
    }
    
    .violet-box {
       background-color:$color-violet;
       position: absolute;
       z-index: $z-index-3;
      bottom: 7rem;
      left: 8rem;
    }
    
    .gray-box {
      background-color:$color-grey;
      position: absolute;
      z-index: $z-index-4;
      top: 1rem;
      left: 1rem;
    }
    
    .white-box {
       background-color: rgb(255, 255, 255);
       position: absolute;
       color: black;
       z-index: $z-index-6;
       top: 7rem;
       left: 6rem;
    }
    > .white-box {
        z-index: $z-index-5;
        right: 2rem;
        bottom: 1rem;
        top: unset;
       left: unset;
    }
}

