
body  {
    background-color: lightsalmon;
  

header {
    font-size: 300px;
}

img {
    width: 80px;
}   

img#unico-1 {
    width: 180px;
}   

img.cualquier-clase{
   width: 450px; 
   height: 150px;
   background-color: aqua;
}

