@import "./variables.scss";
// @import "../fonts/DancingScript-Regular.otf";
@import "../fonts/fonts.scss";
@import "./reset.css";

html {
    font-size: 100%;
}
 

header {
    display: flex;
    flex-direction: left;
    text-align: left;
    align-items: flex-start; 
    position: absolute;
    z-index: $z-index-logo;

    .logo{
        border-radius: 25%;
        border: 0.3rem solid #ED1C24;
    }
    

    > h1, > h2 {
    margin: 0; 
    }
}

body {
    background-color: $pink_1;
    background-image: $pattern;
    background-size: 3rem 3rem;
    
}

.title-recipe{
    position: absolute;
    font-family: cursive-title Arial, Helvetica, sans-serif;
    clip-path: $subtitle-clippath;
    background-color: $subtitle-color;
    width: 70%;
    top: 5rem;
    z-index: $z-index-subtitle;
}   


main.recipe-instructions{


    clip-path: $clip-path-main3;
    background-color: $pink_2;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: $z-index-main;
    top: 3rem;
    
    
        
    > aside {
        align-items: center;
        text-align: center;
        
 
    }
    
    
    
    > section {
        margin-top: 40px;
        align-items: center;
        text-align: center
    }



}



picture {

    display: grid;
    grid-template-columns: auto auto;

    > img{
        margin: 1rem;
        border: 0.5rem solid $subtitle-color;
        width: 12rem;
        height: 12rem;
    }

    // .img1{
    //     grid-column: ;
    // }
}




