$pink_1: #E6CCBC;
$pink_2: #E8E0D5;
$pattern: radial-gradient(circle, #DAB58C 20px, transparent 25px);
$clip-path-main1: polygon(94.62% 8.25%, 0% 0%, 0% 79.07%, 19.84% 79.17%, 47.5% 79.31%, 94.62% 79.55%);
$clip-path-main2:  polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
$clip-path-main3: polygon(5% 0, 100% 28%, 97% 100%, 50% 100%, 1% 100%, 0 0);
$subtitle-clippath: inset(0 0 0 0);
$subtitle-color:#930166;

$z-index-logo: 20;
$z-index-subtitle: 30;
$z-index-main: 10;