@import '../../../sass/base.scss';

.screen {
  display: flex;
  flex-direction: column;
  text-align: right;
  // border: gray 2px solid;
  background-color: rgba(252, 210, 210, 0.95);
  border-radius: 2rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  padding-right: 1rem;
}