:root {
  --fondo: #ccd1d1;
  --circulo-fondo: #bccaca;
  --fondocontenido: #dbd1c6;
  --tituloproducto: #017c94;
}

html {
  font-size: 62.5%;
}

.logo {
  margin-right: 1rem;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fondo);
  background-image: radial-gradient(circle, #bccaca 20px, transparent 0px);
  background-size: 4rem 4rem;
}

main {
  background-color: var(--fondocontenido);
  border-radius: 5rem;
  display: flex;

}

.left {
  flex: 1;
  padding: 2rem;
}

.right {
  flex: 1;
  padding: 2rem;
}

.titulo-plato {
  font-family: "Kaushan Script", cursive;
  width: 70%;
}

h1 {
  color: #072b30;
 margin-top: 0;
 float: right;

}

h1 span {
  font-family: "Kaushan Script", cursive;
  display: block; /* !Permite que se genere un bloqueo */
 ;
}

.titulo-plato {
  background-color: var(--tituloproducto);
  color: white;
}

.contenedor-imagen img{
    background-color: var(--tituloproducto);
    display: inline-block;
    width: 50%;
    
}

.img-producto   {
    display: flex;
    flex-direction: column;
    
}


.img-producto img  {
    width: 20%;
    border: 1rem solid var(--tituloproducto);


}


.footer {
    background-color: var(--tituloproducto);
}