@import "./variables.scss";

div{
    width: 200px;
    height: 200px;
    color: $color-white;
    font-size: 3rem;
    text-align: center;
    vertical-align: baseline;
}


.blue-box{
    background-color: $color-blue;
}



.green-box{

    background-color: $color-green;
    width: 35rem;
    height: 30rem;
    /* position: absolute; */
    position: relative;
    top: 3rem;
    left: 3rem;

    > div {
        position: absolute;
        z-index: $z-index-1;
    }

    .yellow-box{
        background-color: $color-yellow;
        /* position: absolute; */
        z-index: $z-index-2;
    
        top: 0;
        right: 0;
    
    }
    
    .red-box{
        background-color: $color-red;
        /* position: absolute; */
        z-index: $z-index-3;
    
        bottom: 1rem;
        left: 1rem;
    }
    
    
    .violet-box{
        background-color: $color-violet;
        /* position: absolute; */
        z-index: $z-index-3;
    
        top: 7rem;
        left: 8rem;
    }
    
    .gray-box{
        background-color: $color-gray;
        /* position: absolute; */
        z-index: $z-index-4;
    
        top: 1rem;
        left: 1rem;
    }

}



