$color-blue: rgb(3, 3, 35);
$color-white: white;
$color-green: rgb(5, 80, 5);
$color-red: rgb(154, 9, 9);
$color-violet: rgb(154, 9, 149);
$color-gray: rgb(89, 85, 85);
$color-yellow:  rgb(154, 154, 9);

$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 45;
$z-index-4: 40;
$z-index-5: 50;
$z-index-6: 60;