<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Recipe</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../static/style.css">
   
</head>
<body>

    <!-- <header>
        <img  src = "../img/mas-logo.png" alt = "mas-logo" id = "mas-logo"/>
        <h1>Homemade</h1>
        <h1>Desserts</h1>
        <h2>Kiwi  Jam</h2>
        
    </header> -->

    <header>
        <img src="../img/mas-logo.png" alt="" class="logo" />
        <h1 class="_1">Homemade </h1>
        <h1 class="_2">Desserts</h1>
        
      </header>

    
    <main class="outer">

        <h1 class="title-recipe"><strong>Kiwi jam...</strong></h1>

        <main class="recipe-instructions">     
            
            <aside>
    
    
                <article>
                    <h3>Ingredients:</h3>
                    <ul>
                        <li>1Kg of Kiwis (preferably ripe)</li>
                        <li>750g of sugar</li>
                    </ul>
                        <br>
    
                    <!-- <div> -->
                        
                    <span>
                        <img src="../img/persona.ico" alt=🧍>
                        <!-- <i class="../img/persona.ico">🧍</i> -->
                        <span>1 - 20</span>
                    </span>


                    <span>
                        <img src="../img/reloj.ico" alt=🕜>
                        <span>60 min</span>
                    </span>

                    <span>
                        <img src="../img/euro.ico" alt=💵>
                        <span>Low</span>
                    </span>

                    <span>
                        <img src="../img/chef.ico" alt=👨‍🍳>
                        <span>Easy</span>
                    </span>

                    <br>
                    <br>


                    <!-- </div> -->
                    
    
                </article>
    
                <picture>
                    <img class="img" src="../img/1.png" alt="Step one: Start by peeling the kiwis.">
                    <img class="img" src="../img/2.png" alt="Step two: Wash and chop the fruits into small pieces.">
                    <img class="img" src="../img/3.png" alt="Step three: Place the chopped kiwis into a medium pot.">
                    <img class="img" src="../img/4.png" alt="Step four: Add the sugar.">
                    <img class="img" src="../img/5.png" alt="Step five: Mix them all.">
                    <img class="img" src="../img/6.png" alt="Step six: Turn on the heat and cook the kiwis over medium heat.">
    
                </picture>
    
            </aside>
    
            <section>
    
                <img src="../img/result2.jpg" alt="">
                <article>
                    <h3>Step By Step:</h3>
    
                        <p><strong>Peel and chop</strong> the kiwis into small pieces or slices,<br> 
                            then place them into a bowl. In order to add the sugar later.<br>
                            <strong>Stir well</strong> until everything is mixed.<br>
                            <strong>Transfer the mixture </strong>into a pot and <strong>bring it to a boil </strong>over high heat. 
                            <br>Once it starts boiling, <strong>reduce the heat to medium-low </strong><br>
                            and <strong>simmer</strong> for about 30 minutes to 45 minutes.<br>
                            To check if the jam is ready, perform the cold plate test:<br>
                            take a few drops of jam from the pot and place them on a cold plate.<br> 
                            If it thickens, it's ready.<br>
                            Sterilize some jars beforehand and <strong>store the jam</strong> in them<br>
                        </p>
                        <p><strong>Congratulations!🏆<br></strong>
                        Now you can enjoy your handmade kiwi jam, following the tips given in our today's <strong>"Did you know...?</strong></p>
                        
                        
    
                </article>
    
            </section>
    
        </main>

    </main>

    

    

    <!-- <footer>
        
    
        <article class="tips">
            

            <div class="inf-title">

                <h2>Did you know...?</h2>

                <div class="inf-img">

                    <ol>
                        <li>Place a tea towel folded four times on the bottom <br>
                            of a pressure cooker. Fill the cooker to about three fingers of height <br>
                            from the bottom, depending on the size of the jar are using. Place it  <br>
                            on the heat and wait for it to start boiling.</li>
        
                        <li>Fill the jars (clean and sterilized) with the jam you've prepared, leaving <br>
                            about one finger of space from the top of the edge. Seal the jars and and <br>
                            introduce them into a pot and individually wrap them with a cloth to prevent <br>
                            them from breaking when they come into contact with each other.</li>
        
                        <li>Close the pot, and when steam begins to escape, let it cook <br>
                            for 20 to 25 minutes (this time is suitable for three medium-sized jars). <br>
                            Then, turn off the heat and allow all the steam to escape through the valve.</li>
                        <li>Remove the jars and let them cool upside down at room temperature for 24 HOURS.</li>
                    </ol>
                    <img src="../img/girl.png" alt="">

                </div>

                

            </div>
            
            

        </article>

        <article class="final">

            <div>
                
                <a href="www.elsuperfamiliar.es"></a>
            </div>

        </article>

    </footer> -->



    <footer>
        
    
        <article class="tips">
            

            <h2>Did you know...?  </h2>

            

            <ul>
                <li>Place a tea towel folded four times on the bottom of a pressure cooker. <br>
                    Fill the cooker to about three fingers of height from the bottom, depending <br>
                    on the size of the jar are using. Place it  on the heat and wait for it to <br>
                    start boiling.
                
                </li>

                <li>Fill the jars (clean and sterilized) with the jam you've prepared, leaving<br>
                    about one finger of space from the top of the edge. Seal the jars and and <br>
                    introduce them into a pot and individually wrap them with a cloth to <br>
                    prevent them from breaking when they come into contact with each other.<br>
                
                </li>

                <li>Close the pot, and when steam begins to escape, let it cook for 20 to 25<br>
                    minutes (this time is suitable for three medium-sized jars). Then, turn<br>
                    off the heat and allow all the steam to escape through the valve.<br>
                
                </li>
                <li>Remove the jars and let them cool upside down at room temperature for<br>
                    24 HOURS.</li>
            </ul>

            
            <img src="../img/girl.png" alt="">



            <div class="final">

                <img src="../img/logo-pequeño.png" alt="web-site">
                <span><a href="www.elsuperfamiliar.es">www.elsuperfamiliar.es</a></span>

            </div>

                
            
            

        </article>



    </footer>
    
</body>
</html>

