$color-light-blue: #7d7ddb;
$color-dark-blue: #0d0d42; /* Azul oscuro */
$color-navy-blue: #326479; /* Azul marino */
$color-beige: #dedeb4; /* Beige */
$color-gray: #6d6d6d;

$buttons: clear, back, module, divide, seven, eight, nine, multiply, four, five, six, minus, one, two, three, plus, zero,
  dot, enter;
