@import './sass/index.scss';

.recipe-form {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: $blanco-puro;
  border: 8px solid $negro-mate;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__title {
    margin: 0;
    font-size: 3rem;
    color: $blanco-puro;
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid $color-negro;
    max-width: 97%;
    box-shadow: $degradado-negro;
  }

  &__people-max-min,
  &__cost,
  &__difficulty,
  &__steps {
    border: 1px solid $color-negro;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: $degradado-negro;
  }

  &__cost,
  &__difficulty {
    display: flex;
    flex-direction: row;

    label {
      margin-right: 10px;
    }

    &__radio {
      margin: 0;
      transform: scale(1.2);
    }
  }

  &__radio {
    margin-right: 1rem;
    transform: scale(1.2);
  }

  &__button {
    display: block;
    width: 20%;
    background-color: $color-negro;
    color: $blanco-puro;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 20px;
    box-shadow: $degradado-negro;

    &:hover {
      background-color: #0a3372;
    }
  }
}
