@import "./sass/index.scss";

.recipe-form__title {
    margin: 0;
    font-size: 3rem;
    color: $color-cafe-claro;
}

.recipe-form {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border: 8px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-form__label {
    display: block;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1rem;
}

.recipe-form__input,
.recipe-form__textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #333;
    max-width: 97%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.recipe-form__people-max-min,
.recipe-form__cost,
.recipe-form__difficulty,
.recipe-form__steps {
    border: 1px solid #333;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.recipe-form__cost,
.recipe-form__difficulty {
    display: flex;
    flex-direction: row;
}

.recipe-form__cost label,
.recipe-form__difficulty label {
    margin-right: 10px;
}

.recipe-form__cost .recipe-form__radio,
.recipe-form__difficulty .recipe-form__radio {
    margin: 0;
    transform: scale(1.2);
}

.recipe-form__radio {
    margin-right: 1rem;
    transform: scale(1.2);
}

.recipe-form__button {
    display: block;
    width: 20%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-size: 20px;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.recipe-form__button:hover {
    background-color: #0a3372;
}
