article {
    .ingredientes {
        font-size: 300%;
        margin-top: 30px;
        margin-left:60px;
        color: $color-dark-red;
      }
      
      ul{
        display: inline-block;
      }
              
      .lista-ingredientes {
        margin-left:80px;
        margin-top: 30px;
        transform: scale(1.2);
        color: $color-light-red;
      }

      
  
  .logos-container {
    margin-top: 30px;
    margin-left: 50px;
  }
  
  .logo{
   width: 20px;
   height: auto;
   color:$color-light-red;
  }
  
  
  
  .lista-logo {
    font-size: 20px;
    color: $color-light-red;
    
  }
}