section {
    position: absolute !important;
    top: 300px !important; 
    left: 400px !important;
    h3 {
        font-size: 300%;
        color:$color-light-red; 
        margin-top: 30px;
      }
      
      .pasoApaso {
        margin-left:80px;
        margin-top: 70px;
        transform: scale(1.3);
        line-height: 2;
        color: $color-light-red;
      }
  }